<%= render 'indywidualna_menu' %>

<hr class="subline" />
<div id="left_pane">
  <p>Pomoc w budowaniu portfolio dla początkujących jak i bardziej zaawansowanych modelek/modeli.<p/>
  <p>Zdjęcia wykonywane zarówno w studio jak i w plenerze, pozwolą podszkolić umiejętności modelingu podnosząc doświadczenie w tej branży.<p/>
  <p>Oferuję sesje modowe, beauty, portretowe, kreatywne, nagość zakryta, akty.<p/>
  <p>Możliwość współpracy z profesjonalną wizażystką.</p>
</div>
<div id="right_pane">
  <img src="/assets/indywidualna/fot_ind01.png" alt=""> 
</div>