<%= render 'indywidualna_menu' %>

<p></p>
<div id="gallery"> 
  <div class="gallery_img_single">
    <img src="/assets/indywidualna/fot_ind02.png" alt=""> 
  </div>
  <div class="gallery_img_double">
    <img src="/assets/indywidualna/fot_ind01.png" alt="">  
    <img src="/assets/indywidualna/fot_ind04.png" alt=""> 
  </div>
  <div class="gallery_img_double">
    <img src="/assets/indywidualna/fot_ind05.png" alt="">  
    <img src="/assets/indywidualna/fot_ind03.png" alt=""> 
  </div>
  <div class="gallery_img_single">
    <img src="/assets/indywidualna/fot_ind06.png" alt=""> 
  </div>
  <div class="gallery_img_double">
    <img src="/assets/indywidualna/fot_ind08.png" alt="">
  </div>
  <!--
   
  <img src="/assets/indywidualna/fot_ind04.png" alt="">-->
</div>